* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.subtitle {
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    color: #ffffff;
    background-image: url('../images/sub\ tilte.jpg');
    background-size: 100%;
    background-position: top;
    filter: grayscale(100%);
    transition: all 0.1s linear;
    animation: header-animate 1s linear infinite alternate;
    background-repeat: no-repeat;

    @keyframes header-animate {
        from {
            filter: grayscale(100%);
        }

        to {
            filter: grayscale(0%);
        }
    }

    h1,
    p {
        animation: ting-tong 1s linear infinite alternate;
    }

    @keyframes ting-tong {
        from {
            color: #ffffff;
        }

        to {
            color: #000000;
        }
    }

    &:hover {
        filter: grayscale(1%);
        animation: none;
    }
}

@media screen and (max-width:977px) {
    .subtitle {
        background-size: 100% 100%;
    }
}