<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is django website the thech atharva is github acoun he hot his web site on herko . this web site made in sass bootsap"
    />
    <meta
      name="og:title"
      property="og:title"
      content="The Title of Your Article"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://yourwebsite.com/" />
    <meta name="keywords" content="Tech atharva github web site" />
    <meta name="author" content="Tech atharva" />
    <link rel="stylesheet" href="/static/sass/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a rel="nofollow" class="navbar-brand" href="/">
            <h1>{{nav_title}}</h1>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item text-center">
                <a
                  rel="nofollow"
                  class="nav-link active"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item text-center">
                <a rel="nofollow" class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item text-center">
                <a rel="nofollow" class="nav-link" href="/services/"
                  >Services</a
                >
              </li>
              <li class="nav-item text-center">
                <a rel="nofollow" class="nav-link" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <header class="subtitle">
      <h1>{{main}}</h1>
      <p>Tech Atharva the boy he knows web devolepment</p>
    </header>
    <div class="container my-5">
      <div class="container-fluid my3">
        {% block body %} {% endblock body %}
      </div>
    </div>
  </body>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
    crossorigin="anonymous"
  />
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"
  ></script>
</html>
