{% extends 'base.html' %}
{% block body %}
<div class="row text-center">

    <a href="wordpress/" style="text-decoration: none;" class="col-md-4 text-dark my-3">
        <div class="card p2" style="width: 18rem;">
            <img src="/static/images/wordpress.jpg" class="card-img-top" alt="wordpess">
            <h2 class="text-center my-2">Wordpress</h2>
            <hr>
            <div class="card-body">
                <h4>I am serving wordpress website with elementor.</h4>
            </div>
        </div>
    </a>
    <a href="HtmlCssandJavascript/" style="text-decoration: none;" class="col-md-4 text-dark my-3">
        <div class="card p2" style="width: 18rem;">
            <img src="/static/images/html.jpg" class="card-img-top" alt="Html Css and javascript">
            <h4 class="text-center my-2">Html Css and javascript static website</h4>
            <hr>
            <div class="card-body">
                <h5>I am serving Html Css and javascript static website.</h5>
            </div>
        </div>
    </a>
    <a href="pythonDjango/" style="text-decoration: none;" class="col-md-4 text-dark my-3">
        <div class="card p2" style="width: 18rem;">
            <img src="/static/images/pythondjango.jpg" class="card-img-top" alt="Django">
            <h3 class="text-center my-2">Django Dynamic website</h3>
            <hr>
            <div class="card-body">
                <h5>I am serving Django Dynamic website.</h5>
            </div>
        </div>
    </a>

</div>
{% endblock body %}